<nav>
    <a href="/new">
        <button class="nav-button">Add a Writer to This List
        </button>
    </a>
    <a href="/">
        <button class="nav-button">Back to Index
        </button>
    </a>
</nav>