<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
</head>
<body>

    <header>
        <%- include( 'partials/header.ejs' ) %>
    </header>

    <h2>
        Credits
    </h2>

    <div id="credits">
        The phrase <span id="phrase">decolonize my audition book</span> was coined by Yvonne DeMoss in a December 20, 2020 post in the private Facebook group <a href="https://www.facebook.com/groups/thecrewrevolution/permalink/1010750476084164" target="_blank"><span id="phrase">Theater Folx of Color</span></a>. 

        <br/>
        <br/>

        Inspired by both Yvonne's words and pursuit, web developer and musical theater actor Kim Blanck created this application for a project assignment in General Assembly's Software Engineering Immersive Remote Program.

        <br/>
        <br/>
        Please direct any feedback to Kim below. Thanks for visiting and for championing BIPOC musical theater artists!
    </div>

    <a href="/writers/">
        <button class="nav-button">Back to Index
        </button>
    </a>

</body>
</html>