<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
</head>
<body>

    <header>
        <%- include( 'partials/header.ejs' ) %>
    </header>

    <h2>
        Credits
    </h2>

    <div id="credits">
        The phrase <span id="phrase">decolonize my audition book</span> was coined by Yvonne DeMoss in a December 20, 2020 post in the private Facebook group <a href="https://www.facebook.com/groups/thecrewrevolution/permalink/1010750476084164" target="_blank">Theater Folx of Color</a>. 

        <br/>
        <br/>

        Inspired by both Yvonne's words and pursuit, web developer and musical theater actor <a href="https://www.linkedin.com/in/kimblanck/" target="_blank">Kim Blanck</a> created this application for a project assignment in General Assembly's Software Engineering Immersive Remote Program.

        <br/>
        <br/>
        Please direct any feedback to Kim below. Thanks for visiting and for championing BIPOC musical theater artists!

        <br/>
        <br/>

        <section>
            <div class="form">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" cols="30" rows="5"></textarea>
                    </div>
                    <button type="submit" class="form-button">Submit</button>
                </form>
            </div>
            <!-- <div id="status" class="success">Sent. Thank you!</div> -->
        </section>


    </div>

    <a href="/writers/">
        <button class="nav-button">Back to Index
        </button>
    </a>

</body>
</html>