<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
</head>
<body>
    <h1>
        <span>DECOLONIZE</span>
        <br/>
        my audition book</h1>
        <h3>for Black, Indigenous, and POC <br/>
            musical theater actors 🎵</h3>

     <div class="selections">
        <a href="/index_black_writers">
            <button class="button">
                Black Composers & Lyricists
            </button>
        </a>


        <a href="/index_asian_writers">
            <button class="button">
                Asian & Asian-American Composers & Lyricists
            </button>
        </a>
      

        <a href="/index_indigenous_writers">
            <button class="button">
                Indigenous Composers & Lyricists
            </button>
            </a>
      

        <a href="/index_latinx_writers">
            <button class="button">
                Latinx Composers & Lyricists
            </button>
        </a>                         
       

        <a href="/index_menasa_writers">
            <button class="button">
                MENASA Composers & Lyricists
            </button>
        </a>                       
    </div>

    <h4>
        <a href="/credits">credits</a>
    </h4>
</body>
</html>