<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Writer Index Page</h1>
    <ul>
        <% for(let i = 0; i < writers.length; i++){ %>
            <li>
                <a href="/writers/<%=writers[i].id; %>">
                <%=writers[i].name; %>
                </a>    
            </li>
        <% } %>
    </ul>
    <nav>
        <a href="/writers/new">Add a New Writer</a>
    </nav>
</body>
</html>