<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
</head>
<body>

    <header>
        <%- include( 'partials/header.ejs' ) %>
    </header>

    <h2>
        Add a New Composer or Lyricist to the Database
    </h2>

    <div id="add-new">
    <form action="/" method="POST">
        <label for="identity">
            <span id="identify-label">
                 What's their name? 
            </span></label>
       <input id="input-name" type="text" name="firstName" placeholder="First name"/>
       <input id="input-name" type="text" name="middle" placeholder="Middle name or initial"/>
       <input id="input-name" type="text" name="lastName" placeholder="Last name"/><br/>
        <label for="identity">
            <span id="identify-label">
                 How do they identify? 
            </span></label>
       <select id="identity" name="identity" placeholder="Identity">
        <option value="Black">Black</option>
        <option value="Asian">Asian or Asian-American</option>
        <option value="Indigenous">Indigenous</option>
        <option value="Latinx">Latinx</option>
        <option value="MENASA">MENASA</option>
      </select>

      <!-- <label for="identity">
        <span id="identify-label">
             How else might they identify? 
        </span></label>
        <input type="text" name="addlIdentity"><br/> -->

        <label for="identity">
            <span id="identify-label">
                 What's a musical they're known for?
            </span></label>       
        <input type="text" name="knownFor" placeholder="" /><br/>

        <label for="identity">
            <span id="identify-label">
                 What's a great YouTube clip of their work?
            </span></label>        
        <input type="text" name="youTube" placeholder="" /><br/>

        <label for="identity">
            <span id="identify-label">
                 Any awesome awards they've won?
            </span></label>        
        <input type="text" name="notableAwards" placeholder="" /><br/>

        <label for="socialType">
            <span id="identify-label">
                 What social media do they primarily use?
            </span></label>               
            <select id="socialType" name="socialType" placeholder="Platform">
                <option value="Twitter" id="Twitter" name="socialType">Twitter</option>
                <option value="Instagram" id="Instagram" name="socialType">Instagram</option>
                <option value="Facebook" id="Facebook" name="socialType">Facebook</option>
              </select>

              <label for="identity">
                <span id="identify-label">
                     What's their handle?
                </span></label>        
            <input type="text" name="socialHandle" placeholder="" /><br/>

        <input id="submit" type="submit" class="button" name="" value="Add New Writer"/>
    </form>

    <a href="/">
        <button class="nav-button">Back to Index
        </button>
    </a>
    </div>
</body>
</html>