<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Writer Page</h1>
    <form action="/writers" method="POST">
        Name: <input type="text" name="name" /><br/>
        Identity: <input type="text" name="identity" /><br/>
        Known For: <input type="text" name="knownFor" /><br/>
        YouTube Sample: <input type="text" name="youTube" /><br/>
        Social Media: <input type="text" name="social" /><br/>
        <input type="submit" name="" value="Add New Writer"/>
    </form>
</body>
</html>