body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', serif;
    color: #250728;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lexend Zetta', serif;
}

h1 > span {
    font-size: 3em;
}

#show-page-h1 {
    font-size: 2em;
}

h2 {
    padding: .5em;
    background-color: #65183e;
    color: whitesmoke;
}

h3 {
    padding: 1em;
    background-color: #D4AF37;
    color: black;
    transform: rotate(3deg);
    font-size: 1em;
}

h4 {
    margin-top: 5em;
    padding: 1em;
    background-color: #D4AF37;
    color: black;
    transform: rotate(-4deg);
    font-size: .75em;
    transition: 0.3s ease-in-out;
}

h4:hover {
    transform: rotate(4deg);
}

h5 {
    padding: 1em;
    background-color: white;
    color: black;
    font-size: .8em;
}

h6 {
    margin-top: -.5em;
    padding: 1em;
    background-color: #D4AF37;
    color: black;
    font-size: 1em;
}

p {
    font-size: 1em;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}
 
.selections {
    width: 100%;
    height: 80%;
    padding-top: 1.5em;
}

.button {
    width: 450px;
    height: 50px;
    background: #250728;
    font-family: 'Raleway', serif;
    font-size: 1.25em;
    color: whitesmoke;
    border: 0px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 1em;
    padding: 0;
}

.button:focus {
    outline: 0;
}

.button:hover {
    cursor: pointer;
    background: whitesmoke;
    border: 1px solid #250728;
    color: #250728;
}

.button-name {
    width: 450px;
    height: 50px;
    background:white;
    font-family: 'Raleway', serif;
    font-size: 1.5em;
    color: black;
    border: 1px solid #250728;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 1em;
    padding: 0;
}

.button-name {
    cursor: pointer;
}

.edit {
    width: 60px;
    height: 30px;
    background: #250728;
    font-family: 'Raleway', serif;
    font-size: 1em;
    color: whitesmoke;
    border: 0px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 0 .6em 0 0;
    padding: 0;
}

.edit:hover {
    cursor: pointer;
    background: whitesmoke;
    border: 1px solid #250728;
    color: #250728;
}

.delete {
    width: 75px;
    height: 30px;
    background: #D0312D;
    font-family: 'Raleway', serif;
    font-size: 1em;
    color: whitesmoke;
    border: 0px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 0 .6em 0 0;
    padding: 0;
}

.delete:hover {
    cursor: pointer;
    background: #E3242B;
    color: whitesmoke;
}

.nav-button {
    width: 200px;
    height: 50px;
    background: #250728;
    font-family: 'Raleway', serif;
    font-size: 1em;
    color: whitesmoke;
    border: 0px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 0 1em 1em 1em;
    padding: 0;
}

.nav-button:hover {
    cursor: pointer;
    background: whitesmoke;
    border: 1px solid #250728;
    color: #250728;
}

.nav-button, .edit, .delete:focus {
    outline: 0;
}

.writer {
    font-family: 'Raleway', serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 150px;
    border: 1px solid;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav {
    padding-top: 1em;
}

#show-little-bio {
    display: flex;
}

#edit-delete {
    font-family: Arial;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    margin: -.5em 0 0 0;
}

#known-for, #notable-awards, #social-media {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

#notable-awards-false {
    display: none;
}

#add-new {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    padding-top: 1.5em;
}

#input-name {
    margin-bottom: 1.5em;
}

#identify-label {
    display: flex;
    align-self: left;
    width: 350px;
    text-align: left;
    background-color: white;
    color: black;
    font-family: 'Lexend Zetta', serif;
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em 0em .1em;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
  }

select {
    width: 103%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
  }


select,input:focus {
    outline: 0;
  }

footer {
    font-size: 1em;
    padding: 2em 3em 3em 3em;
    color: black;
}

#credits {
    text-align: left;
    font-family: Arial;
    font-size: 1.25em;
    color: darkslategray;
    width: 560px;
    height: 60%;
    line-height: 1.5;
    margin: 2em 0 3em 0;
}

#phrase {
    font-weight: bold;
    text-transform: uppercase;
    color: #250728;
}

section {
    padding: 1em 0 0 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #250728;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: .75em;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

textarea:focus {
    outline: 0;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: lightgreen;
    animation: status 4s ease forwards;
}

#status.error {
    background-color: red;
    color: white;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@media only screen and (max-width: 600px) {
    body {

    }

    h1 > span {
        font-size: 1.5em;
    }

    h1 {
        font-size: 1.7em;
    }

    #show-page-h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: .9em;
        margin-bottom: 0;
    }

    h4 {
        margin-top: .8em;
        font-size: .8em;
    }

    .button {
        margin-top: .5em;
        width: 75%;
        font-size: 1.15em;
    }

    .button-name {
        width: 300px;
        margin-bottom: 0;
    }

    iframe {
        width: 80%;
    }

    #show-little-bio {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    #credits {
        width: 90%;
        font-size: 1.15em;
    }
  }

  